<div class="container bg-light">
    <h2 class="text-primary fw-bold">Message Center</h2>
    <form id="addMessageForm">
        <div class="mb-3">
            <label for="email" class="form-label">Email: </label>
            <input type="email" class="form-control text-dark" name="email" id="naemailme" aria-describedby="email" placeholder="example@gmail.com">
        </div>
        <div class="container">
            <ul id="chat">

            </ul>
        </div>
        <div class="mb-3">
            <label for="message" class="form-label ">Message: </label>
            <input type="text" class="form-control text-dark" name="message" id="message" aria-describedby="message" placeholder="Insert message">
        </div>
        <button type='button' class="btn btn-success" onclick="addMessage(addMessageForm)">Submit</button>
    </form> 
</div>