extends main.pug
block products
    div(class="container")
        table(class="table")
            thead
                tr
                    th(scope="col")
                    th(scope="col") Name
                    th(scope="col") Price
                    th(scope="col") Photo
            tbody
                each prod, idx in products 
                    tr
                        th(scope="row")= idx + 1
                        td= prod.name
                        td= prod.price
                        td
                            img(style="width: 50px; height: 50px" src=prod.photoUrl)
        a(href="/" class="btn btn-primary") add product