<div class="container">
    <h2>Login</h2>
    <form action="/login" method="POST">
        <div class="mb-3">
            <p class="fw-bold fst-italic">userName</p>
            <input type="text" class="form-control" name="userName" id="userName" aria-describedby="userName">
        </div>
        <button class="btn btn-success">Submit</button>
    </form>
</div>